/* ==========================================================================
   ARCHIVE - Notion-inspired
   ========================================================================== */

.archive {
  margin-bottom: 2em;

  @include breakpoint($medium) {
    @include span(12 of 12);
  }

  @include breakpoint($large) {
    @include span(9 of 12 last);
    @include prefix(0 of 12);
  }

  a {
    color: $text-color;
    text-decoration: underline;
    text-decoration-color: rgba($primary-color, 0.4);
    text-underline-offset: 2px;
    transition: $global-transition;

    &:hover {
      color: $primary-color;
      text-decoration-color: $primary-color;

      img {
        box-shadow: $box-shadow-lg;
      }
    }
  }
}

.archive__subtitle {
  margin: 1.5em 0 0;
  padding-bottom: 0.75em;
  font-family: $sans-serif;
  font-size: $type-size-6;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: $text-color-light;
  border-bottom: 1px solid $border-color;

  + .list__item .archive__item-title {
    margin-top: 0.75em;
  }
}

.archive__item-title {
  margin-bottom: 0.35em;
  font-family: $header-font-family;
  font-size: $type-size-4;
  font-weight: 600;
  color: $text-color;

  a {
    text-decoration: none;

    &:hover {
      color: $primary-color;
    }
  }

  a + a {
    opacity: 0.5;
  }
}

/* remove border */
.page__content {
  .archive__item-title {
    margin-top: 1em;
    border-bottom: none;
  }
}

.archive__item-excerpt {
  margin-top: 0;
  font-size: $type-size-6;
  color: $text-color-light;
  line-height: 1.6;

  & + p {
    text-indent: 0;
  }
}

.archive__item-teaser {
  border-radius: $border-radius;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  transition: $global-transition;

  img {
    width: 100%;
    display: block;
  }
}

.archive__item:hover {
  .archive__item-teaser {
    box-shadow: $box-shadow-lg;
  }

  .archive__item-title {
    color: $primary-color;
  }
}


/*
   List view
   ========================================================================== */

.list__item {
  margin-bottom: 1.5em;
  padding-bottom: 1.5em;
  border-bottom: 1px solid $border-color;

  &:last-child {
    border-bottom: none;
  }

  @include breakpoint($medium) {
    padding-right: $right-sidebar-width-narrow;
  }

  @include breakpoint($large) {
    padding-right: $right-sidebar-width;
  }

  @include breakpoint($x-large) {
    padding-right: $right-sidebar-width-wide;
  }

  .page__meta {
    margin: 0 0 6px;
    font-size: $type-size-7;
  }
}


/*
   Grid view
   ========================================================================== */

.grid__wrapper {
  display: grid;
  gap: 1.5em;
  grid-template-columns: 1fr;

  @include breakpoint($small) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include breakpoint($medium) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.grid__item {
  .page__meta {
    margin: 0 0 6px;
  }

  .archive__item-title {
    margin-top: 0.75em;
    font-size: $type-size-5;
  }

  .archive__item-excerpt {
    display: none;

    @include breakpoint($medium) {
      display: block;
    }
  }

  .archive__item-teaser {
    max-height: 200px;

    @include breakpoint($medium) {
      max-height: 150px;
    }
  }
}


/*
   Features
   ========================================================================== */

.feature__wrapper {
  @include clearfix();
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: 1px solid $border-color;
}

.feature__item {
  margin-bottom: 2em;
  font-size: 1em;

  @include breakpoint($small) {
    margin-bottom: 0;
    @include gallery(4 of 12);

    .feature__item-teaser {
      max-height: 200px;
      overflow: hidden;
    }
  }

  &--left {
    @include full();

    .archive__item-teaser {
      margin-bottom: 2em;
    }

    @include breakpoint($small) {
      .archive__item-teaser {
        @include span(5 of 12);
      }

      .archive__item-body {
        @include span(7 of 12 last);
        @include prefix(0.5 of 12);
        @include suffix(0.5 of 12);
      }
    }
  }

  &--right {
    @include full();

    .archive__item-teaser {
      margin-bottom: 2em;
    }

    @include breakpoint($small) {
      text-align: right;

      .archive__item-teaser {
        @include span(5 of 12 rtl);
      }

      .archive__item-body {
        @include span(7 of 12 last rtl);
        @include prefix(0.5 of 12);
        @include suffix(0.5 of 12);
      }
    }
  }

  &--center {
    @include full();

    .archive__item-teaser {
      margin-bottom: 2em;
    }

    @include breakpoint($small) {
      text-align: center;

      .archive__item-teaser {
        margin: 0 auto;
        width: span(5 of 12);
      }

      .archive__item-body {
        margin: 0 auto;
        width: span(7 of 12);
      }
    }
  }
}
