/* ==========================================================================
   FOOTER - Notion-inspired
   ========================================================================== */

.page__footer {
  @include clearfix;
  float: left;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  clear: both;
  /* sticky footer fix */
  position: absolute;
  bottom: 0;
  height: auto;
  margin-top: 6em;
  padding: 2.5em 0;
  color: $text-color-light;
  background-color: $warm-gray-100;
  border-top: 1px solid $border-color;
  animation: fadeIn 0.4s ease-out;
  animation-delay: 0.3s;
  animation-fill-mode: both;

  footer {
    @include clearfix;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    padding: 0 1.5em;

    @include breakpoint($x-large) {
      max-width: $x-large;
    }
  }

  a {
    color: $text-color-light;
    text-decoration: none;
    transition: $global-transition;

    &:hover {
      color: $primary-color;
    }
  }

  .fas,
  .fab,
  .far,
  .fal {
    color: $text-color-light;
    transition: $global-transition;
  }

  a:hover {
    .fas,
    .fab,
    .far,
    .fal {
      color: $primary-color;
    }
  }
}

.page__footer-copyright {
  font-family: $global-font-family;
  font-size: $type-size-7;
  color: $warm-gray-500;
  margin-top: 1em;

  a {
    color: $text-color-light;
    
    &:hover {
      color: $primary-color;
    }
  }
}

.page__footer-follow {
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em 1.5em;
    align-items: center;
  }

  li {
    display: inline-flex;
    align-items: center;
    padding: 0;
    font-family: $sans-serif;
    font-size: $type-size-6;
  }

  li + li:before {
    content: none;
  }

  a {
    display: inline-flex;
    align-items: center;
    gap: 0.35em;
    font-weight: 500;
    color: $text-color;

    &:hover {
      color: $primary-color;
    }
  }

  strong {
    color: $text-color-light;
    font-weight: 500;
    font-size: $type-size-7;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }

  .social-icons {
    a {
      white-space: nowrap;
    }
  }
}
