/* ==========================================================================
   MIXINS - Notion-inspired
   ========================================================================== */

%tab-focus {
  outline: 2px solid rgba($primary-color, 0.5);
  outline-offset: 2px;
}

/*
   em function
   ========================================================================== */

@function em($target, $context: $doc-font-size) {
  @return ($target / $context) * 1em;
}


/*
   Bourbon clearfix
   ========================================================================== */

@mixin clearfix {
  clear: both;

  &::after {
    clear: both;
    content: "";
    display: table;
  }
}
