/* ==========================================================================
   NAVIGATION - Notion-inspired
   ========================================================================== */

/*
   Breadcrumb navigation links
   ========================================================================== */

.breadcrumbs {
  @include container;
  @include clearfix;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0.75em 1.5em;
  font-family: $sans-serif;
  animation: fadeIn 0.3s both;
  animation-delay: 0.2s;

  @include breakpoint($x-large) {
    max-width: $x-large;
  }

  ol {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5em;
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: $type-size-6;

    @include breakpoint($large) {
      @include span(9 of 12 last);
    }
  }

  li {
    display: flex;
    align-items: center;

    &::after {
      content: "/";
      margin-left: 0.5em;
      color: $warm-gray-400;
    }

    &:last-child::after {
      content: none;
    }

    a {
      color: $text-color-light;
      text-decoration: none;

      &:hover {
        color: $primary-color;
      }
    }
  }

  .current {
    font-weight: 500;
    color: $text-color;
  }
}


/*
   Post pagination navigation links
   ========================================================================== */

.pagination {
  @include full();
  @include clearfix();
  display: flex;
  justify-content: center;
  gap: 0.25em;
  margin-top: 2em;
  padding-top: 2em;

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25em;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  li {
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 2.5em;
      padding: 0.5em 0.75em;
      font-family: $sans-serif;
      font-size: $type-size-6;
      font-weight: 500;
      text-align: center;
      text-decoration: none;
      color: $text-color;
      background-color: $warm-white;
      border: 1px solid $border-color;
      border-radius: $border-radius;
      transition: $global-transition;

      &:hover {
        background-color: $warm-gray-100;
        color: $primary-color;
      }

      &.current {
        color: $warm-white;
        background: $primary-color;
        border-color: $primary-color;
      }

      &.disabled {
        color: $warm-gray-400;
        pointer-events: none;
        cursor: not-allowed;
      }
    }
  }

  /* next/previous buttons */
  &--pager {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.75em 1.5em;
    font-family: $sans-serif;
    font-size: $type-size-6;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    color: $text-color;
    background-color: $warm-white;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    transition: $global-transition;

    &:hover {
      background-color: $warm-gray-100;
      color: $primary-color;
    }

    &.disabled {
      color: $warm-gray-400;
      pointer-events: none;
      cursor: not-allowed;
    }
  }
}

.page__content + .pagination,
.page__meta + .pagination,
.page__share + .pagination,
.page__comments + .pagination {
  margin-top: 2em;
  padding-top: 2em;
  border-top: 1px solid $border-color;
}


/*
   Priority plus navigation (greedy nav)
   ========================================================================== */

.greedy-nav {
  position: relative;
  display: flex;
  align-items: center;
  background: transparent;

  a {
    display: block;
    padding: 0.5rem 0.75rem;
    color: $masthead-link-color;
    text-decoration: none;
    font-size: $type-size-6;
    font-weight: 500;
    border-radius: $border-radius-sm;
    transition: $global-transition;

    &:hover {
      color: $masthead-link-color-hover;
      background-color: $warm-gray-100;
    }
  }

  button {
    display: none;
    padding: 0.5rem;
    border: none;
    outline: none;
    background-color: transparent;
    color: $text-color;
    cursor: pointer;
    border-radius: $border-radius-sm;

    &:hover {
      background-color: $warm-gray-100;
    }

    @include breakpoint(max-width $medium) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .visible-links {
    display: flex;
    align-items: center;

    li {
      display: flex;
      align-items: center;

      &:first-child {
        a {
          padding-left: 0;
          font-family: $header-font-family;
          font-size: 1.125em;
          font-weight: 700;
          color: $text-color;

          &:hover {
            background: transparent;
            color: $primary-color;
          }
        }
      }
    }

    @include breakpoint(max-width $medium) {
      li:not(:first-child) {
        display: none;
      }
    }
  }

  .hidden-links {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 0.5em;
    padding: 0.5em 0;
    min-width: 180px;
    background: $warm-white;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    box-shadow: $box-shadow-lg;
    z-index: 100;

    &.is--visible {
      display: block;
    }

    a {
      display: block;
      margin: 0;
      padding: 0.625em 1em;
      font-size: $type-size-6;
      border-radius: 0;

      &:hover {
        background: $warm-gray-100;
      }
    }

    &:before,
    &:after {
      display: none;
    }

    li {
      display: block;
    }
  }
}


/*
   Navigation list
   ========================================================================== */

.nav__list {
  font-size: $type-size-5;

  ul {
    margin-bottom: 1em;
  }

  a {
    display: block;
    padding: 0.35em 0.5em;
    color: $text-color;
    text-decoration: none;
    border-radius: $border-radius-sm;
    transition: $global-transition;

    &:hover {
      background-color: $warm-gray-100;
      color: $primary-color;
    }
  }

  .active {
    color: $warm-white;
    font-weight: 500;
    background: $primary-color;

    &:hover {
      color: $warm-white;
      background: darken($primary-color, 5%);
    }
  }
}

.nav__title {
  margin: 0;
  padding: 0.5rem 0.5rem;
  font-family: $sans-serif;
  font-size: $type-size-6;
  font-weight: 600;
  color: $text-color-light;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.nav__sub-title {
  display: block;
  margin: 0.75rem 0 0.5rem;
  padding: 0.5rem 0;
  font-family: $sans-serif;
  font-size: $type-size-6;
  font-weight: 600;
  color: $text-color-light;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  border-bottom: 1px solid $border-color;
}


/*
   Table of contents navigation
   ========================================================================== */

.toc {
  font-family: $sans-serif;
  color: $text-color;
  background-color: $warm-gray-100;
  border: none;
  border-radius: $border-radius;
  box-shadow: none;

  .nav__title {
    color: $text-color;
    font-size: $type-size-6;
    background: transparent;
    border-radius: 0;
    padding: 0.75em 1em;
    border-bottom: 1px solid $border-color;
  }
}

.toc__menu {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  font-size: $type-size-6;

  a {
    display: block;
    padding: 0.5em 1em;
    color: $text-color;
    font-weight: 500;
    line-height: 1.5;
    text-decoration: none;
    border-bottom: 1px solid $border-color;
    transition: $global-transition;

    &:hover {
      color: $primary-color;
      background: rgba($primary-color, 0.05);
    }
  }

  > li:last-child {
    a {
      border-bottom: none;
    }
  }

  li ul > li a {
    padding-left: 1.75em;
    font-weight: 400;
  }

  li > ul li {
    display: none;

    @include breakpoint($medium) {
      display: block;
    }
  }
}

