/* ==========================================================================
   NOTICES - Notion-inspired callouts
   ========================================================================== */

/**
 * Default notice
 */

.notice {
  margin: 1.5em 0 !important;
  padding: 1em 1.25em;
  font-family: $sans-serif;
  font-size: $type-size-6 !important;
  text-indent: initial;
  background-color: $warm-gray-100;
  border-radius: $border-radius;
  border-left: 4px solid $warm-gray-400;

  h4 {
    margin-top: 0 !important;
    margin-bottom: 0.5em;
    font-size: 1em;
    font-weight: 600;
  }

  @at-root .page__content #{&} h4 {
    margin-bottom: 0.5em;
    padding-bottom: 0;
    border-bottom: none;
  }

  p {
    &:last-child {
      margin-bottom: 0 !important;
    }
  }

  h4 + p {
    margin-top: 0;
    padding-top: 0;
  }

  a {
    color: $primary-color;
    text-decoration: underline;
    text-decoration-color: rgba($primary-color, 0.4);

    &:hover {
      text-decoration-color: $primary-color;
    }
  }

  code {
    background-color: rgba(0, 0, 0, 0.05);
  }

  ul, ol {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

/* Primary/Info notice */

.notice--primary,
.notice--info {
  background-color: rgba($primary-color, 0.08);
  border-left-color: $primary-color;

  a {
    color: $primary-color;
  }
}

/* Warning notice */

.notice--warning {
  background-color: rgba($warning-color, 0.1);
  border-left-color: $warning-color;

  a {
    color: darken($warning-color, 10%);
  }
}

/* Success notice */

.notice--success {
  background-color: rgba($success-color, 0.1);
  border-left-color: $success-color;

  a {
    color: $success-color;
  }
}

/* Danger notice */

.notice--danger {
  background-color: rgba($danger-color, 0.08);
  border-left-color: $danger-color;

  a {
    color: $danger-color;
  }
}
