/* ==========================================================================
   SIDEBAR - Notion-inspired Author Profile
   ========================================================================== */

/*
   Default
   ========================================================================== */

.sidebar {
  transform: translate3d(0, 0 , 0);
  @include clearfix();
  margin-bottom: 2em;

  @include breakpoint($large) {
    @include span(3 of 12);
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    position: sticky;
    top: 100px;
    height: fit-content;
  }

  @include breakpoint($x-large) {
    padding-right: 0;
  }

  h2, h3, h4, h5, h6 {
    margin-bottom: 0;
    font-family: $sans-serif;
  }

  h3, h4 {
    font-size: $type-size-5;
  }

  p, li {
    font-family: $sans-serif;
    font-size: $type-size-6;
    line-height: 1.6;
  }

  img {
    width: 100%;
  }
}

.sidebar__right {
  margin-bottom: 1em;

  @include breakpoint($large) {
    position: relative;
    float: right;
    width: $right-sidebar-width-narrow;
    margin-left: span(0.5 of 12);
    z-index: 10;
  }

  @include breakpoint($x-large) {
    width: $right-sidebar-width;
  }
}

/*
   Author profile and links
   ========================================================================== */

/* Parent container for author profile - flexbox for mobile */
.author-profile {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 12px;

  @include breakpoint($large) {
    display: block;
  }
}

.author__avatar {
  display: block;
  width: 80px;
  height: 80px;
  flex-shrink: 0;

  @include breakpoint($large) {
    width: auto;
    height: auto;
    margin-bottom: 1em;
  }

  img {
    display: block;
    width: 80px !important;
    height: 80px !important;
    min-width: 80px;
    min-height: 80px;
    max-width: 80px;
    max-height: 80px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid $warm-white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    transition: $global-transition;

    @include breakpoint($large) {
      width: 140px !important;
      height: 140px !important;
      min-width: 140px;
      min-height: 140px;
      max-width: 140px;
      max-height: 140px;
      border: 4px solid $warm-white;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    }

    &:hover {
      transform: scale(1.02);
      box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
    }
  }
}

.author__content {
  display: block;
  flex: 1;
  min-width: 0;
  padding-right: 10px;
  line-height: 1;

  @include breakpoint($large) {
    width: 100%;
    padding-right: 0;
    text-align: left;
  }
}

.author__name {
  margin: 0 0 0.25em 0;
  font-family: $header-font-family;
  font-size: 1.25em;
  font-weight: 700;
  color: $warm-gray-900;
  letter-spacing: -0.01em;

  @include breakpoint($large) {
    margin-top: 0;
    margin-bottom: 0.25em;
  }
}

.sidebar .author__name {
  font-family: $header-font-family;
  font-size: 1.25em;
}

.author__bio {
  margin: 0.5em 0 0 0;
  font-size: $type-size-6;
  color: $text-color-light;
  line-height: 1.5;

  @include breakpoint($large) {
    margin-top: 0.75em;
    margin-bottom: 1.25em;
  }
}

.author__urls-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  font-family: $sans-serif;
  z-index: 10;
  width: 100%;

  li:last-child a {
    margin-bottom: 0;
  }

  @include breakpoint($large) {
    display: block;
    margin-top: 0.5em;
    width: auto;
  }

  button {
    display: inline-flex;
    align-items: center;
    gap: 0.5em;
    margin-bottom: 0;
    padding: 0.5em 1em;
    font-size: $type-size-6;
    font-weight: 500;
    color: $text-color;
    background-color: $warm-gray-100;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    cursor: pointer;
    transition: $global-transition;

    &:hover {
      background-color: $warm-gray-200;
    }

    @include breakpoint($large) {
      display: none;
    }
  }
}

.author__urls {
  display: none;
  position: absolute;
  right: 0;
  margin-top: 10px;
  padding: 0.75em 0;
  list-style-type: none;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  background: $warm-white;
  z-index: 20;
  box-shadow: $box-shadow-lg;
  min-width: 200px;

  @include breakpoint($large) {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    box-shadow: none;
    min-width: 0;
  }

  &:before,
  &:after {
    display: none;
  }

  li {
    white-space: nowrap;
    padding: 0;
    margin: 0;
    
    @include breakpoint($large) {
      margin-bottom: 0.25em;
    }

    i {
      width: 1.25em;
      text-align: center;
      color: $text-color-light;
      margin-right: 0.25em;
    }
  }

  a {
    display: flex;
    align-items: center;
    padding: 0.5em 1em;
    color: $text-color;
    font-size: $type-size-6;
    text-decoration: none;
    transition: $global-transition;
    border-radius: 0;

    @include breakpoint($large) {
      padding: 0.35em 0;
      border-radius: $border-radius-sm;
      
      &:hover {
        background: transparent;
        color: $primary-color;
      }
    }

    &:hover {
      background-color: $warm-gray-100;

      i {
        color: $primary-color;
      }
    }
  }

  /* Location item - not a link */
  li:not(:has(a)) {
    display: flex;
    align-items: center;
    padding: 0.5em 1em;
    font-size: $type-size-6;
    color: $text-color-light;

    @include breakpoint($large) {
      padding: 0.35em 0;
    }

    i {
      width: 1.25em;
      text-align: center;
      margin-right: 0.25em;
    }
  }
}

/* Active state for mobile dropdown */
.author__urls-wrapper.is--visible {
  .author__urls {
    display: block;
  }
}
