/* ==========================================================================
   SYNTAX HIGHLIGHTING - Notion-inspired dark theme
   ========================================================================== */

div.highlighter-rouge,
figure.highlight {
  position: relative;
  margin-bottom: 1.5em;
  font-family: $monospace;
  font-size: 0.875em;
  line-height: 1.6;
  border-radius: $border-radius;
  background-color: $warm-gray-900;

  > pre,
  pre.highlight {
    margin: 0;
    padding: 1.25em;
  }
}

.highlight {
  pre {
    width: 100%;
  }

  table {
    margin-bottom: 0;
    font-size: 1em;
    border: 0;

    td {
      padding: 0;
      width: calc(100% - 1em);
      border: 0;

      pre {
        margin: 0;
      }
    }

    pre {
      margin: 0;
    }

    &:hover {
      background: transparent;
    }
  }

  /* Line numbers */
  .lineno {
    padding-right: 1em;
    color: $warm-gray-500;
    text-align: right;
    user-select: none;
  }

  .gutter {
    border-right: 1px solid $warm-gray-700;
    padding-right: 0.5em;
    margin-right: 0.5em;
  }

  /* Syntax colors - One Dark inspired */
  .c,      /* Comment */
  .c1,     /* Comment.Single */
  .cm,     /* Comment.Multiline */
  .cp,     /* Comment.Preproc */
  .cs {    /* Comment.Special */
    color: #5c6370;
    font-style: italic;
  }

  .err {   /* Error */
    color: #e06c75;
  }

  .k,      /* Keyword */
  .kc,     /* Keyword.Constant */
  .kd,     /* Keyword.Declaration */
  .kn,     /* Keyword.Namespace */
  .kp,     /* Keyword.Pseudo */
  .kr,     /* Keyword.Reserved */
  .kt {    /* Keyword.Type */
    color: #c678dd;
  }

  .s,      /* String */
  .s1,     /* String.Single */
  .s2,     /* String.Double */
  .sb,     /* String.Backtick */
  .sc,     /* String.Char */
  .sd,     /* String.Doc */
  .se,     /* String.Escape */
  .sh,     /* String.Heredoc */
  .si,     /* String.Interpol */
  .sr,     /* String.Regex */
  .ss,     /* String.Symbol */
  .sx {    /* String.Other */
    color: #98c379;
  }

  .n,      /* Name */
  .na,     /* Name.Attribute */
  .nb,     /* Name.Builtin */
  .nc,     /* Name.Class */
  .nd,     /* Name.Decorator */
  .ne,     /* Name.Exception */
  .nf,     /* Name.Function */
  .ni,     /* Name.Entity */
  .nl,     /* Name.Label */
  .nn,     /* Name.Namespace */
  .no,     /* Name.Constant */
  .nt,     /* Name.Tag */
  .nv,     /* Name.Variable */
  .bp,     /* Name.Builtin.Pseudo */
  .vc,     /* Name.Variable.Class */
  .vg,     /* Name.Variable.Global */
  .vi {    /* Name.Variable.Instance */
    color: #e5c07b;
  }

  .nf,     /* Name.Function */
  .fm {    /* Name.Function.Magic */
    color: #61afef;
  }

  .nc {    /* Name.Class */
    color: #e5c07b;
  }

  .nt {    /* Name.Tag */
    color: #e06c75;
  }

  .m,      /* Number */
  .mf,     /* Number.Float */
  .mh,     /* Number.Hex */
  .mi,     /* Number.Integer */
  .mo,     /* Number.Oct */
  .il {    /* Number.Integer.Long */
    color: #d19a66;
  }

  .o,      /* Operator */
  .ow {    /* Operator.Word */
    color: #56b6c2;
  }

  .p {     /* Punctuation */
    color: #abb2bf;
  }

  .w {     /* Text.Whitespace */
    color: #abb2bf;
  }

  .gd {    /* Generic.Deleted */
    color: #e06c75;
    background-color: rgba(#e06c75, 0.1);
  }

  .gi {    /* Generic.Inserted */
    color: #98c379;
    background-color: rgba(#98c379, 0.1);
  }

  .gh {    /* Generic.Heading */
    color: #61afef;
    font-weight: bold;
  }

  .ge {    /* Generic.Emph */
    font-style: italic;
  }

  .gs {    /* Generic.Strong */
    font-weight: bold;
  }
}

/* Inline code */
code.highlighter-rouge {
  padding: 0.15em 0.4em;
  font-family: $monospace;
  font-size: 0.85em;
  color: $danger-color;
  background-color: rgba($danger-color, 0.08);
  border-radius: $border-radius-sm;
}
