/* ==========================================================================
   UTILITY CLASSES - Notion-inspired
   ========================================================================== */

/*
   Visibility
   ========================================================================== */

/* http://www.456bereastreet.com/archive/200711/screen_readers_sometimes_ignore_teleportsinvisibility/ */

.hidden,
.is--hidden {
  display: none;
  visibility: hidden;
}

/* for preloading images */

.load {
  display: none;
}

.transparent {
  opacity: 0;
}

/* https://developer.yahoo.com/blogs/ydn/clip-hidden-content-better-accessibility-53456.html */

.visually-hidden,
.screen-reader-text,
.screen-reader-text span,
.screen-reader-shortcut {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px !important;
  width: 1px !important;
  border: 0 !important;
  overflow: hidden;
}

body:hover .visually-hidden a,
body:hover .visually-hidden input,
body:hover .visually-hidden button {
  display: none !important;
}

/* screen readers */

.screen-reader-text:focus,
.screen-reader-shortcut:focus {
  clip: auto !important;
  height: auto !important;
  width: auto !important;
  display: block;
  font-size: 1em;
  font-weight: bold;
  padding: 15px 23px 14px;
  background: #fff;
  z-index: 100000;
  text-decoration: none;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
}


/*
   Skip links
   ========================================================================== */

.skip-link {
  position: fixed;
  z-index: 20;
  margin: 0;
  font-family: $sans-serif;
  white-space: nowrap;
}

.skip-link li {
  height: 0;
  width: 0;
  list-style: none;
}


/*
   Type
   ========================================================================== */

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.text-nowrap {
  white-space: nowrap;
}

.text-underline {
  text-decoration: underline;
}

/* Font sizes */

.text-small {
  font-size: $type-size-6;
}

.text-tiny {
  font-size: $type-size-7;
}

/* Font weights */

.text-normal {
  font-weight: 400;
}

.text-medium {
  font-weight: 500;
}

.text-bold {
  font-weight: 600;
}

/* Colors */

.text-muted {
  color: $text-color-light !important;
}

.text-primary {
  color: $primary-color !important;
}

.text-success {
  color: $success-color !important;
}

.text-warning {
  color: $warning-color !important;
}

.text-danger {
  color: $danger-color !important;
}


/*
   Alignment
   ========================================================================== */

/* clearfix */

.cf {
  @include clearfix();
}

/*
   Images
   ========================================================================== */

/* Responsive images */

.image {
  border-radius: $border-radius;
}

.image-rounded {
  border-radius: $border-radius-lg;
}

.image-circle {
  border-radius: 50%;
}

.image-shadow {
  box-shadow: $box-shadow;
}

/* Full-width images */

.full {
  @include breakpoint($large) {
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    width: 100vw;
  }
}


/*
   Spacing
   ========================================================================== */

.mt-0 { margin-top: 0 !important; }
.mt-1 { margin-top: 0.5em !important; }
.mt-2 { margin-top: 1em !important; }
.mt-3 { margin-top: 1.5em !important; }
.mt-4 { margin-top: 2em !important; }

.mb-0 { margin-bottom: 0 !important; }
.mb-1 { margin-bottom: 0.5em !important; }
.mb-2 { margin-bottom: 1em !important; }
.mb-3 { margin-bottom: 1.5em !important; }
.mb-4 { margin-bottom: 2em !important; }

.pt-0 { padding-top: 0 !important; }
.pt-1 { padding-top: 0.5em !important; }
.pt-2 { padding-top: 1em !important; }
.pt-3 { padding-top: 1.5em !important; }
.pt-4 { padding-top: 2em !important; }

.pb-0 { padding-bottom: 0 !important; }
.pb-1 { padding-bottom: 0.5em !important; }
.pb-2 { padding-bottom: 1em !important; }
.pb-3 { padding-bottom: 1.5em !important; }
.pb-4 { padding-bottom: 2em !important; }


/*
   Icons
   ========================================================================== */

.icon {
  display: inline-block;
  fill: currentColor;
  width: 1em;
  height: 1.1em;
  line-height: 1;
  position: relative;
  top: -0.1em;
  vertical-align: middle;
}

/* Social icons */

.social-icons {
  .fas,
  .fab,
  .far,
  .fal {
    color: $text-color-light;
    transition: $global-transition;
  }

  a:hover {
    .fas,
    .fab,
    .far,
    .fal {
      color: $primary-color;
    }
  }
}


/*
   Navicons
   ========================================================================== */

.navicon {
  position: relative;
  width: $navicon-width;
  height: $navicon-height;
  background: $text-color;
  margin: auto;
  border-radius: 2px;
  transition: $global-transition;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: $navicon-width;
    height: $navicon-height;
    background: $text-color;
    border-radius: 2px;
    transition: $global-transition;
  }

  &::before {
    top: (-2 * $navicon-height);
  }

  &::after {
    bottom: (-2 * $navicon-height);
  }
}

.close .navicon {
  background: transparent;

  &::before,
  &::after {
    top: 0;
    transform-origin: 50% 50%;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}


/*
   Tab focus
   ========================================================================== */

%tab-focus {
  outline: 2px solid rgba($primary-color, 0.5);
  outline-offset: 2px;
}


/*
   Sticky container
   ========================================================================== */

.sticky {
  @include breakpoint($large) {
    @include clearfix();
    position: -webkit-sticky;
    position: sticky;
    top: 5em;

    > * {
      display: block;
    }
  }
}
